.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.card-body {
    /* overflow-y is targetting the vertical area 
    The overflow-y property specifies whether to clip the content, add a scroll bar, 
    or display overflow content of a block-level element, when it overflows at the top and bottom edges.
    https://www.w3schools.com/cssref/css3_pr_overflow-y.asp*/
    overflow-y: scroll;
    height: 400px;
}