<!-- https://valor-software.com/ngx-bootstrap/#/modals#service-component -->

<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Roles for {{user.userName}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- since we are going to have a submit button outside of this area, we are giving id -->
  <!-- the [disabled] part down below is written so that admin doesn't accidentally remove
  themselves from the admin role.
  The (change) event notifies you about a change happening in an input field. 
  Since your inner component is not a native Angular component, you have to specifiy the event emitter yourself 
  https://stackoverflow.com/questions/38227838/what-is-change-event-in-angular-2 
  https://stackoverflow.com/questions/35944749/what-is-the-difference-between-parentheses-brackets-and-asterisks-in-angular2-->
  <form #rolesForm="ngForm" id="rolesForm">
    <div class="form-check" *ngFor="let role of roles">
      <input type="checkbox" 
      class="form-check-input" value="{{role.name}}" 
      [checked]="role.checked"
      (change)="role.checked = !role.checked"
      [disabled]="role.name === 'Admin' && user.userName==='Admin'">
      <label>{{role.name}}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="updateRoles()" form="rolesForm">Submit</button>
</div>