<!-- adding the new selector (from a component's ts) here so that it shows up on browser-->
<app-nav></app-nav>
<!-- <app-home></app-home> replaced in Section 7 Lecture 61 for the router outlet bit below -->

<!-- when we click on one of our router links, this is swapped for the component, and the component displays inside here-->
<!-- The RouterOutlet is a directive from the router library that is used like a component. 
     It acts as a placeholder that marks the spot in the template where the router should display the components for that outlet. -->
<router-outlet></router-outlet>

